:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-bg-color: #E5E5E5;
}
body {
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);   
}
.list {
    list-style: none;
}
.logo{
    color: var(--title-text-color) ;
}
.logo span {
    color: var(--accent-color);
}
/* Site-nav */
.site-nav .link {
    color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
   color: var(--accent-color);
}
.contacts .link {
    color: var(--title-text-color)
}
.contacts .link:hover, 
.contacts .link:focus {
    color: var(--accent-color); 
}


/* Hero */
.hero-title {
    color: #ffffff;
}
/* Section */
.section-title {
    color:  var(--title-text-color);
}
/* Features */
.features .title {
    color:  var(--title-text-color);
}
/* Team */
.team-list .title {
    color: var(--title-text-color);
}
.button {
    color: #ffffff;
    background-color: var(--accent-color);
}


