:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-bg-color: #E5E5E5;
}
body {
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color); 
    font-family: "Roboto", sans-serif;  
    font-weight: 400;
    letter-spacing: 0,03em;

}
.list {
    list-style: none;
}

.logo {
    color: var(--title-text-color) ;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo span {
    color: var(--accent-color);
}

/* Site-nav */

.site-nav .link {
    color: var(--title-text-color);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
   color: var(--accent-color);
}

.contacts .link {
    color: var(--title-text-color);
    text-decoration: none;
}

.contacts .link:hover, 
.contacts .link:focus {
    color: var(--accent-color); 
}

/* Hero */

.hero-title {
    color: #ffffff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1,36;
    text-align: center;
}
.hero, .footer {
    background-color: #2F303A;
}

.button {
    font-family: inherit;
    color: #ffffff;
    background-color: var(--accent-color);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1,9;
    width: 200px;
    height: 50px;
    left: 700px;
    right: 430px;
}

/* Section */

.section-title {
    color:  var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1,17;
    
}

/* Features */

.features .title,
.section .section-title {
 
    color:  var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1,17;
}

.features .text {
    font-size: 14px;
    line-height: 1,71;
}

/* Services */
.section .section-title,
.section-team .section-title {
    text-align: center; 
}

/* Team */

.section-team {
background-color: #F5F4FA;
}

.list .title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1,19;
}

.list .text {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1,19;
}


/* Footer */

.footer .logo {
    color: #ffffff;
}

.logo span{
    color: var(--accent-color);
}

.footer .link {
    color: #ffffff;
}

.footer .link:hover,
.footer .link:focus {
   color: var(--accent-color);
}

/* Styles portfolio */
 .list .button{
    color: var(--title-text-color);
    background-color: #F5F4FA;;
}
.list .button:hover, 
.list .button:focus {
    color: #ffffff;
    background-color: var(--accent-color);
}

