body {
    color: #757575;
    background-color: #E5E5E5;   
}
.list {
    list-style: none;
}
.logo{
    color: #2196f3;
}
/* site-nav */
.site-nav .link {
    color: #212121;
}
.site-nav .link:hover,
.site-nav .link:focus {
   color: #2196f3
}
/* hero */
.hero-title {
    color: #ffffff;
}
/* section */
.section-title {
    color: #212121;
}

